<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: head"/>

<body>
<div th:replace="fragments/header.html :: header"/>
<div class="container px-5">
    <div class="row gx-5 justify-content-center">
        <div class="col-lg-6 py-5">
            <form class="form-group" th:object="${reviewCreateRequest}" id="reviewCreateRequest">
                <br/>
                <div>
                    <input th:field="*{title}" type="text" placeholder="제목을 입력해주세요">
                </div>
                <br/>
                <div>
                    <h4 class="d-flex">별점 : &nbsp;
                        <div class="star-ratings">
                            <div class="star-ratings-base space-x-2 text-lg" style="position: relative">
                                <span >★★★★★
                                    <span class="star-ratings-fill" style="pointer-events: none; position: absolute;">★★★★★</span>
                                    <input th:field="*{star}" type="range" class="star-input" oninput="drawStar(this)" value="1" step="1" min="1" max="5">
                                </span>
                            </div>
                        </div>
                    </h4>
                </div>
                <br/>
                <div>
                    <textarea th:field="*{content}" rows="10" class="w-100" placeholder="내용을 입력해주세요"></textarea>
                </div>
                <br/>
                <div class="input-group">
                    <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload" multiple="multiple">
                    <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">사진 추가</button>
                </div>
                <br/>
                <div align="right" class="py-1">
                    <button type="button" class="btn btn1" onclick="write_review()">등록</button>
                </div>
                <br/>
            </form>
        </div>
    </div>
</div>

<script th:inline="javascript">
    function drawStar(target) {
        document.getElementsByClassName('star-ratings-fill').item(0).style.width = `${target.value * 20}%`
    }

    function write_review() {
        $.ajax({
            type: 'POST',
            url: '/reviews',
            data: $('#reviewCreateRequest').serialize(),
            success: function (message) {
                alert(message)
                location.href='/'
            }
        });
    }
</script>

</body>
</html>