<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: head"/>

<body>
<div th:replace="fragments/header.html :: header"/>
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6 py-5">
                <form class="form-group" th:object="${board}" id="board">
                    <div>
                        <div class="img-box">
                            <img src="/assets/images/default.jpeg" alt="프로필 이미지" class="medium-img">
                        </div>
                        <h5 th:text="'작성자 : ' + ${board.userName}"></h5>
                        <h6>
                            <img src="/assets/images/eyes.svg" class="little-img"> 200
                            <img src="/assets/images/fill-hearts.svg" class="little-img" style="margin-left: 5px"> 10
                        </h6>
                    </div>
                    <br/>
                    <div>
                        <h1>[[${board.title}]]</h1>
                    </div>
                    <div>
                        <textarea rows="10" class="w-100" readonly>[[${board.content}]]
                        </textarea>
                    </div>
                    <div style="float: left" class="py-3">
                        <span th:text="'작성일 : ' + ${#temporals.format(board.createdAt, 'yyyy/MM/dd HH:mm:ss')}"></span>
                    </div>
                    <div align="right" class="py-1">
                        <th:block th:if="principal">
                            <a class="btn btn1" th:href="@{/boards/{boardId}/modify (boardId=${boardId})}">수정</a>
                            <button class="btn btn1" onclick="delete_board()">삭제</button>
                        </th:block>
                    </div>
                    <br/>
                </form>
                <div>
                    <button class="btn icon-btn">
                        <img src="/assets/images/empty-hearts.svg" class="little-img">
                    </button>
                    <button class="btn icon-btn">
                        <img src="/assets/images/fill-hearts.svg" class="little-img">
                    </button>
                </div>
                <hr/>
                <form class="form-group">
                    <div>
                        <textarea rows="3" class="w-100" placeholder="댓글을 입력해주세요"></textarea>
                    </div>
                    <br/>
                    <div align="right">
                        <button class="btn btn1">댓글 등록</button>
                    </div>
                </form>
                <hr/>
                <h5 class="px-2">댓글 10개</h5>
                <br/>
                <div align="left">
                    <form class="form-group w-75">
                        <textarea rows="3" class="w-100" readonly>댓글111</textarea>
                        <div align="left">
                            <a href="/">수정</a>
                            <a href="/">삭제</a>
                        </div>
                    </form>
                </div>
                <br/>
                <div align="right">
                    <form class="form-group w-75">
                            <textarea rows="3" class="w-100" readonly>대댓글111</textarea>
                            <div align="right">
                                <a href="/">수정</a>
                                <a href="/">삭제</a>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

<script th:inline="javascript">

    function delete_board(){

        let boardId = [[${boardId}]];

        if (confirm("글을 삭제하시겠습니까?")){
            $.ajax({
                url : '/boards/'+boardId+'/delete/',
                type : "GET",
                data : {
                    boardId : boardId
                },
                success : function (){
                    location.href="/boards/new/write"
                }
            });
        }
    }



</script>

</body>
</html>