<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: head"/>

<body>
<div th:replace="fragments/header.html :: header"/>
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8 py-5" align="center">
                <form class="form-group" style="height: 70px;">
                    <input type="text" placeholder="키워드를 입력해주세요" class="w-50 search-input">
                    <button class="icon-btn"><img src="/assets/images/search.svg" class="little-img"></button>
                </form>
                <table class="table list-table table-hover text-center">
                    <thead>
                        <tr>
                            <th style="width: 45%">제목</th>
                            <th style="width: 35%">작성자</th>
                            <th style="width: 20%">작성일자</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr th:each="board : ${list}" th:onclick="|location.href='@{/boards/{boardId} (boardId=${board.id})}'|">
                            <td style="width: 45%" th:text="${board.title}"></td>
                            <td style="width: 35%" th:text="${board.nickname}"></td>
                            <td style="width: 20%" th:text="${board.createdAt}"></td>
                        </tr>
                    </tbody>
                </table>
                <div align="right" class="py-1">
                    <button class="btn btn1" type="button" onclick="location.href='/boards/write'">등록</button>
                </div>
                <br/>
                <ul id = "paging-ul" class="pagination justify-content-center">
                </ul>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        // 화면 호출 시 페이징 버튼 생성 및 출력
        window.onload = function () {
            let nowPage = [[${list.getNumber()}]] + 1;
            let totalPage = [[${list.getTotalPages()}]];

            let firstPage;          // 화면에 출력될 첫 페이지
            for (let i = nowPage ; i >= 1 ; i --) {
                if(i % 5 == 1) {
                    firstPage = i;
                    break;
                }
            }

            let lastPage;           // 화면에 출력될 마지막 페이지
            let nextButton;         // 다음 버튼
            if (firstPage + 4 >= totalPage) {
                lastPage = totalPage;
                nextButton = false;
            }
            else {
                lastPage = firstPage + 4;
                nextButton = true;
            }

            let previousButton;     // 이전 버튼
            if (firstPage == 1) previousButton = false;
            else previousButton = true;

            // HTML 생성
            let pageHtml = "";
            if (previousButton == true) {
                pageHtml += "<li><a class='page-link' href='/boards/list?page=" + (firstPage - 1) +  "' id='prev'> 이전 </a></li>";
            }

            for (let i = firstPage; i <= lastPage; i++) {
                if (i == nowPage) {
                    pageHtml += "<li class='page-item active'><a class= 'page-link'>" + i + "</a></li>";
                } else {
                    pageHtml += "<li class='page-item'><a class= 'page-link' href='/boards/list?page=" + i +  "'>" + i + "</a></li>";
                }
            }

            if (nextButton == true) {
                pageHtml += "<li><a class='page-link' href='/boards/list?page=" + (lastPage + 1) +  "' id='prev'> 다음 </a></li>";

            }

            $("#paging-ul").html(pageHtml);

        }

    </script>
</body>
</html>
