<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header.html :: head"/>
<body>
<div th:replace="fragments/header.html :: header"/>
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6 py-5">
                <form class="form-group" th:object="${portfolioModifyRequest}" id="portfolioModifyRequest">
                    <br/>
                    <div>
                        <input id = "title" type="text" th:field="*{title}">
                        <br/>
                        <h5>지역 : [[${planner.region}]]</h5>
                    </div>
                    <div>
                        <textarea id = "content" rows="10" class="w-100" th:field="*{content}"></textarea>
                    </div>
                    <div>
                        <span id ="file-input" style="display:none;">
                            <input type="file" id = "file-select">
                            <button type="button" id = "input-delete" style="background: none; color:red;" onclick="delete_input()">X</button>
                        </span>
                        <span id = "origin-file" style="display:none;">
                            <span id = "file-name" rows="1"></span>
                            <button type="button" id = "file-delete" style="background: none; color:red;" onclick="delete_file()">X</button>
                        </span>
                    </div>
                    <br/>
                    <div align="right" class="py-1">
                        <button type="button" class="btn btn1" onclick="modify_board()">수정</button>
                    </div>
                    <br/>
                </form>
            </div>
        </div>
    </div>

<script th:inline="javascript">

    let file;
    let originFile = "";

    window.onload = function() {

        let filepath = [[${portfolioModifyRequest.image}]];

        if (filepath != null && originFile != "changed") {
            let filename = filepath.substr(filepath.indexOf(filepath.split('-')[8]));
            document.getElementById("origin-file").style.display = 'block';
            document.getElementById("file-name").innerHTML = filename;
        }

        if (filepath == null || originFile == "changed") {
            document.getElementById("file-input").style.display = 'block';
        }

    }

    function delete_file() {
        originFile = "changed"
        document.getElementById("origin-file").style.display = 'none';
        document.getElementById("file-input").style.display = 'block';
    }

    function delete_input() {

        file = null;

        var agent = navigator.userAgent.toLowerCase();

        if ( (navigator.appName == 'Netscape' && navigator.userAgent.search('Trident') != -1) || (agent.indexOf("msie") != -1) ){
            // ie 일때 input[type=file] init.
            $("#file-select").replaceWith( $("#file-select").clone(true) );
        } else {
            //other browser 일때 input[type=file] init.
            $("#file-select").val("");
        }

    }

    $("#file-select").on("change", (e) => {

        let f = e.target.files[0];

        //최대 용량 10MB 초과
        if (f.size > 10 * 1024 * 1024) {
            alert("파일은 10MB 이내로 등록 가능합니다.");
            return;
        }

        file = f;

    });

    function modify_board(){

        let boardId = [[${boardId}]];

        let requestData = {
            title : $("#title").val(),
            content : $("#content").val(),
            image : originFile
        }

        let formData = new FormData();
        formData.append("file", file);
        formData.append("request", new Blob([JSON.stringify(requestData)], {type: "application/json"}));

        $.ajax({
            type:'POST',
            url:'/boards/portfolio/'+boardId+'/modify',
            data: formData,
            contentType: false, // 필수 : x-www-form-urlencoded로 파싱되는 것을 방지
            processData: false,  // 필수: contentType을 false로 줬을 때 QueryString 자동 설정됨. 해제
            success: function (message) {

                alert(message.split("*")[0])
                location.href = message.split("*")[1]

            }
        });
    }
</script>
</body>
</html>