<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header.html :: head"/>

<body>
<div th:replace="fragments/header.html :: header"/>
<div class="container px-5">
    <div class="row gx-5 justify-content-center">
        <div class="col-lg-6 py-3">
            <div align="center">
                <h2>포트폴리오</h2><br/>
            </div>
            <form class="form-group" th:object="${board}" id="board">
                <div>
                    <div class="img-box">
                        <img th:src = "${planner.image}" alt="프로필 이미지" class="medium-img">
                    </div>
                    <a style="float: right" class="btn btn1" th:href="@{/planners/{plannerId} (plannerId=${planner.id})}">플래너 페이지</a>
                    <h5 th:text="'플래너 : ' + ${board.nickname}"></h5>
                    <h6>
                        <img src="/assets/images/eyes.svg" class="little-img"> [[${board.views}]]
                    </h6>
                </div>
                <br/>
                <div>
                    <h1>[[${board.title}]]</h1>
                    <h5>지역 : [[${planner.region}]]</h5>
                </div>
                <div>
                    <textarea rows="10" class="w-100" readonly>[[${board.content}]]
                    </textarea>
                </div>

                <button id = "download_file" style="display:none; max-width: 100%; max-height: 30px; overflow:hidden;" type="button" onclick="downloadURI()">Download</button>
                <div style="height: 50px">
                    <div style="float: left" class="py-3">
                        <span th:text="'작성일 : ' + ${#temporals.format(board.createdAt, 'yyyy/MM/dd HH:mm:ss')}"></span>
                    </div>
                    <div align="right" class="py-1">
                        <th:block th:if="${#authentication.principal.username} == ${board.userName}">
                            <a class="btn btn1" th:href="@{/boards/portfolio/{boardId}/modify (boardId=${boardId})}">수정</a>
                            <button class="btn btn1" type = "button" onclick="delete_board()">삭제</button>
                        </th:block>
                    </div>
                </div>
            </form>
            <hr/>



            <div id="loginCheck" sec:authentication="principal" hidden/>
            <div sec:authorize="isAuthenticated()" id="userName" sec:authentication="principal.username" hidden/>

        </div>
    </div>
</div>
</div>

<script th:inline="javascript">

    let loginCheck = document.getElementById("loginCheck").innerText;
    let userName
    if (loginCheck != "anonymousUser") {
        userName = document.getElementById("userName").innerText;
    }

    window.onload = function() {

        let filepath = [[${board.image}]];
        if (filepath != null) {
            let filename = filepath.substr(96);
            document.getElementById("download_file").style.display = 'block';
            $("#download_file").text(filename);
        }

    }

    function downloadURI() {

        var link = document.createElement("a");
        link.download = [[${board.image}]].split('-')[8];
        link.href = [[${board.image}]];
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
        delete link;

    }

    function isLogin() {
        if (loginCheck == "anonymousUser") {
            document.getElementsByName("updateCommentBtn").forEach(btn => btn.setAttribute("hidden", "true"));
            document.getElementsByName("deleteCommentBtn").forEach(btn => btn.setAttribute("hidden", "true"));
            document.getElementsByName("createCoCommentBtn").forEach(btn => btn.setAttribute("hidden", "true"));
            document.getElementsByName("updateCoCommentBtn").forEach(btn => btn.setAttribute("hidden", "true"));
            document.getElementsByName("deleteCoCommentBtn").forEach(btn => btn.setAttribute("hidden", "true"));
        } else {
        }
    }

    function delete_board() {

        let boardId = [[${boardId}]];

        if (confirm("글을 삭제하시겠습니까?")) {
            $.ajax({
                url: '/boards/portfolio/' + boardId + '/delete',
                type: "GET",
                data : {
                    boardId : boardId
                },
                success: function () {
                    location.href="/boards/portfolio/list"
                }
            });
        }
    }

</script>
</body>
</html>