<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header.html :: head"/>

<body>
<div th:replace="fragments/header.html :: header"/>
<div class="container px-5">
    <div class="row gx-5 justify-content-center">
        <div class="col-lg-8 py-3" align="center">
            <h2>플래너 신청</h2><br/>
            <form class="form-group" style="height: 70px;" th:object="${boardSearchRequest}" th:method="get"
                  th:action="|@{/boards/rankup/list/(searchType=*{searchType}, keyword=*{getKeyword})}|">
                <select th:field="*{searchType}" style="height: 40px;">
                    <option th:value="TITLE">제목</option>
                    <option th:value="NICKNAME">작성자</option>
                </select>
                <input type="text" th:field="*{keyword}" placeholder="키워드를 입력해주세요" class="w-50 search-input">
                <button class="icon-btn" onclick="search()"><img src="/assets/images/search.svg" class="little-img"></button>
            </form>
            <table class="table list-table table-hover text-center">
                <thead>
                <tr>
                    <th style="width: 45%">제목</th>
                    <th style="width: 35%">작성자</th>
                    <th style="width: 20%">작성일자</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="board : ${list}" th:onclick="|location.href='@{/boards/rankup/{boardId} (boardId=${board.id})}'|">
                    <td style="width: 45%" th:text="${board.title}"></td>
                    <td style="width: 35%" th:text="${board.nickname}"></td>
                    <td style="width: 20%" th:text="${board.createdAt}"></td>
                </tr>
                </tbody>
            </table>
            <div align="right" class="py-1">
                <button class="btn btn1" type="button" onclick="location.href='/boards/rankup/write'" th:if="${userRole == 'USER'}">등록</button>
            </div>
            <br/>
            <ul id = "paging-ul" class="pagination justify-content-center">
            </ul>
        </div>
    </div>
</div>

<script th:inline="javascript">

    $(document).ready(function () {
        let role = [[${userRole}]];
        if (role == "비로그인") {
            if (confirm("플래너 신청에는 로그인이 필요합니다.\n로그인 페이지로 이동하시겠습니까?")) {
                location.href="/users/login"
            } else {
                location.href="/"
            }
        }
    })

    // 화면 호출 시 페이징 버튼 생성 및 출력
    window.onload = function () {
        let nowPage = [[${list.getNumber()}]] + 1;
        let totalPage = [[${list.getTotalPages()}]];

        let firstPage;          // 화면에 출력될 첫 페이지
        for (let i = nowPage ; i >= 1 ; i --) {
            if(i % 5 == 1) {
                firstPage = i;
                break;
            }
        }

        let lastPage;           // 화면에 출력될 마지막 페이지
        let nextButton;         // 다음 버튼
        if (firstPage + 4 >= totalPage) {
            lastPage = totalPage;
            nextButton = false;
        }
        else {
            lastPage = firstPage + 4;
            nextButton = true;
        }

        let previousButton;     // 이전 버튼
        if (firstPage == 1) previousButton = false;
        else previousButton = true;

        // HTML 생성
        let pageHtml = "";
        if (previousButton == true) {

            pageHtml += "<li><a class='page-link' href='" + makeUrl(firstPage - 1) +  "' id='prev'> 이전 </a></li>";
        }

        for (let i = firstPage; i <= lastPage; i++) {
            if (i == nowPage) {
                pageHtml += "<li class='page-item active'><a class= 'page-link'>" + i + "</a></li>";
            } else {
                pageHtml += "<li class='page-item'><a class= 'page-link' href='" + makeUrl(i) + "'>" + i + "</a></li>";
            }
        }

        if (nextButton == true) {
            pageHtml += "<li><a class='page-link' href='" + makeUrl(lastPage + 1) +  "' id='prev'> 다음 </a></li>";
        }

        $("#paging-ul").html(pageHtml);
    }

    function makeUrl(page) {
        let url = "/boards/rankup/list?page=" + page;

        // 검색 햇으면 다음 URL에도 추가
        if(window.location.href.includes("searchType")) {
            url += "&searchType=" + [[${boardSearchRequest.searchType}]];
            url += "&keyword=" + [[${boardSearchRequest.keyword}]];
        }

        return url;
    }

</script>
</body>
</html>
