<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: head"/>

<body>
<div th:replace="fragments/header.html :: header"/>
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6 py-3">
                <div align="center">
                    <h2>플래너 신청</h2><br/>
                </div>
                <form class="form-group" th:object="${rankUpCreateRequest}" id="rankUpCreateRequest">
                    <br/>
                    <div>
                        <input type="text" placeholder="제목을 입력해주세요" th:field="*{title}">
                    </div>
                    <br/>
                    <div>
                        <label th:for="*{regionId}">자신있는 지역 : </label>
                        <select style="height: 40px;" onchange="change_region1(this)">
                            <option>지역</option>
                            <option th:each="region1 : ${region1List}" th:text="${region1}"></option>
                        </select>
                        <select style="height: 40px;" id="regionId" name="regionId">
                            <option>세부 지역</option>
                        </select>
                    </div>
                    <br/>
                    <div>
                        <textarea rows="10" class="w-100" placeholder="내용을 입력해주세요" th:field="*{content}"></textarea>
                    </div>
                    <br/>
                    <div class="input-group">
                        <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload" multiple="multiple">
                        <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">사진 추가</button>
                    </div>
                    <br/>
                    <div align="right" class="py-1">
                        <button type="button" class="btn btn1" onclick="write_board()">등록</button>
                    </div>
                    <br/>
                </form>
            </div>
        </div>
    </div>
<script th:inline="javascript">
    function write_board(){
        $.ajax({
            type:'POST',
            url:'/boards/rankup/write',
            data:$('#rankUpCreateRequest').serialize(),
            success: function (){
                location.href ="/";
            }
        });
    }

    function change_region1(e) {
        let region1 = e.value;
        let regions = [[${regions}]];
        let target = document.getElementById('regionId');

        target.options.length = 0;
        regions.forEach(region => {
            if (region['region1'] == region1) {
                let opt = document.createElement("option");
                opt.value = region['id'];
                opt.innerText = region['region2'];
                target.appendChild(opt);
            }
        })
    }
</script>
</body>
</html>