<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: head"/>

<body>
<div th:replace="fragments/header.html :: header"/>
<div class="container px-5">
  <div class="row gx-5 justify-content-center">
    <div class="col-lg-6 py-3">
      <div align="center">
        <h2>신고게시판</h2><br/>
      </div>
      <form class="form-group" th:object="${boardCreateRequest}" id="boardCreateRequest">
        <br/>
        <div>
          <input th:field="*{title}" type="text" placeholder="신고 대상의 닉네임을 입력해 주세요" style="width: 80%" oninput="searchUser()">
          <div style="margin-top: 5px" class="w-75">
            <div id="nickname-pass" class="alert-pass" hidden>신고대상이 확인 되었습니다</div>
            <div id="nickname-fail" class="alert-fail" hidden>존재하지 않는 유저입니다</div>
            <div id="nickname-null" class="alert-fail" hidden>공백일 수 없습니다</div>
          </div>
        </div>
        <br/>
        <div>
          <textarea th:field="*{content}" rows="10" cols="80" class="w-100" placeholder="내용을 입력해주세요" style="resize: none; width: 80%;"></textarea>
        </div>
        <div>
          <input type="file" id ="file-input">
          <button type="button" id = "input-delete" style="background: none; color:red;" onclick="delete_input()">X</button>
        </div>
        <br/>
        <div align="center" class="py-1">
          <button id="write-btn" class="btn btn1" type="button" onclick="write_report()" disabled>등록</button>
        </div>
        <br/>
      </form>

    </div>
  </div>
</div>

<script th:inline="javascript">
  let nicknamePass = false;
  let file

  function delete_input() {

    file = null;

    var agent = navigator.userAgent.toLowerCase();

    if ( (navigator.appName == 'Netscape' && navigator.userAgent.search('Trident') != -1) || (agent.indexOf("msie") != -1) ){
      // ie 일때 input[type=file] init.
      $("#file-input").replaceWith( $("#file-input").clone(true) );
    } else {
      //other browser 일때 input[type=file] init.
      $("#file-input").val("");
    }

  }

  $("#file-input").on("change", (e) => {

    let f = e.target.files[0];

    //확장자 체크 (블랙리스트 필터보다는 화이트리스트 추가가 맞다고 한다)
    let ext = f.name.substr(f.name.lastIndexOf('.')+1).toLowerCase();
    const acceptType = ['gif','png','jpg','jpeg', 'bmp', 'doc','docx','xls','xlsx','hwp','pdf', 'txt', 'csv', 'ppt'];

    if(acceptType.indexOf(ext) == -1) {
      alert("업로드 불가능한 확장자 입니다.")
      delete_input()
      return;
    }

    //최대 용량 10MB 초과
    if (f.size > 10 * 1024 * 1024) {
      alert("파일은 10MB 이내로 등록 가능합니다.");
      delete_input()
      return;
    }

    file = f;

  });

  function write_report(){

    let requestData = {
      title : $("#title").val(),
      content : $("#content").val()
    }

    let formData = new FormData();
    formData.append("file", file);
    formData.append("request", new Blob([JSON.stringify(requestData)], {type: "application/json"}));

    $.ajax({
      type:'POST',
      url:'/api/boards/report',
      data: formData,
      contentType: false, // 필수 : x-www-form-urlencoded로 파싱되는 것을 방지
      processData: false,  // 필수: contentType을 false로 줬을 때 QueryString 자동 설정됨. 해제
      success: function (message) {
        if (message.resultCode == "SUCCESS") {
          alert("신고가 접수 되었습니다.");
          location.href = '/boards/report/' + message.result.id;
        } else {
          alert(message.result);
          location.href = '/boards/report/write';
        }
        console.log(message)
      }
    });

  }
  function button_disable() {
    document.getElementById('write-btn').setAttribute("disabled", "true");
  }
  function button_able() {
    if (nicknamePass = true) {
      document.getElementById('write-btn').removeAttribute("disabled")
    }
  }
  function searchUser() {
    let nickname =  $("#title").val();
    nicknamePass = false;
    button_disable();

    if(nickname == "") {
      show('nickname-null')
      hide('nickname-pass')
      hide('nickname-fail')
      return
    }

    $.ajax({
      method: 'GET',
      url: '/api/users/check-nickname',
      data: {
        nickname: nickname
      },
      success: function (response) {
        if (response.result == true) {
          hide('nickname-null')
          show('nickname-pass')
          hide('nickname-fail')
          nicknamePass = true;
          button_able()
        } else {
          hide('nickname-null')
          hide('nickname-pass')
          show('nickname-fail')
        }
      }
    })

  }
  function show(id) {
    if(document.getElementById(id) != null) {
      document.getElementById(id).removeAttribute("hidden")
    }
  }
  function hide(id) {
    if(document.getElementById(id) != null) {
      document.getElementById(id).setAttribute("hidden", "true")
    }
  }
</script>

</body>
</html>
