<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: head"/>

<body>
<div th:replace="fragments/header.html :: header"/>
<div class="container px-5">
  <div class="row gx-5 justify-content-center">
    <div class="col-lg-6 py-5">
      <form class="form-group" id="reportModifyRequest" th:object="${reportModifyRequest}">
        <br/>
        <div>
          <input th:value="*{title}" disabled>
          <input th:field="*{title}" th:value="*{title}" hidden>
        </div>
        <br/>
        <div>
          <textarea th:field="*{content}" rows="10" class="w-100" placeholder="내용을 입력해주세요" style="resize: none;"></textarea>
        </div>
        <br/>
        <div align="center" class="py-1">
          <button class="btn btn1" type="button" onclick="edit()">저장</button>
        </div>
        <br/>
      </form>
    </div>
  </div>
</div>
<!--&lt;!&ndash;-->
  <script th:inline="javascript">

    function edit(){
      let boardId = [[${boardId}]];

      $.ajax({
        type : 'POST',
        url : '/boards/report/'+boardId+'/modify',
        data : $('#reportModifyRequest').serialize(),
        success: function (d){
          location.href= '/boards/report/'+d;
        }
      });
    }

  </script>-->

</body>
</html>