<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: head"/>

<body>
<div th:replace="fragments/header.html :: header"/>
<div class="container px-5">
  <div class="row gx-5 justify-content-center">
    <div class="col-lg-8 py-3" align="center">
        <h2>신고게시판</h2><br/>
      <table class="table list-table table-hover text-center">
        <thead>
        <tr>
          <th style="width: 45%">신고대상</th>
          <th style="width: 35%">신고자</th>
          <th style="width: 20%">작성일자</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="board : ${list}" th:onclick="|location.href='@{/boards/report/{boardId} (boardId=${board.id})}'|">
            <td style="width: 45%" th:text="${board.title}"></td>
            <td style="width: 35%" th:text="${board.nickname}"></td>
            <td style="width: 20%" th:text="${board.createdAt}"></td>
        </tr>
      </table>
      <div align="right" class="py-1">
        <button class="btn btn1" onclick="location.href='/boards/report/write'">등록</button>
      </div>
      <br/>
        <ul id = "paging-ul" class="pagination justify-content-center">
        </ul>
    </div>
  </div>
</div>

<script th:inline="javascript">
  // 화면 호출 시 페이징 버튼 생성 및 출력
  window.onload = function () {
    let nowPage = [[${list.getNumber()}]] + 1;
    let totalPage = [[${list.getTotalPages()}]];

    let firstPage;          // 화면에 출력될 첫 페이지
    for (let i = nowPage ; i >= 1 ; i --) {
      if(i % 5 == 1) {
        firstPage = i;
        break;
      }
    }

    let lastPage;           // 화면에 출력될 마지막 페이지
    let nextButton;         // 다음 버튼
    if (firstPage + 4 >= totalPage) {
      lastPage = totalPage;
      nextButton = false;
    }
    else {
      lastPage = firstPage + 4;
      nextButton = true;
    }

    let previousButton;     // 이전 버튼
    if (firstPage == 1) previousButton = false;
    else previousButton = true;

    // HTML 생성
    let pageHtml = "";
    if (previousButton == true) {

      pageHtml += "<li><a class='page-link' href='" + makeUrl(firstPage - 1) +  "' id='prev'> 이전 </a></li>";
    }

    for (let i = firstPage; i <= lastPage; i++) {
      if (i == nowPage) {
        pageHtml += "<li class='page-item active'><a class= 'page-link'>" + i + "</a></li>";
      } else {
        pageHtml += "<li class='page-item'><a class= 'page-link' href='" + makeUrl(i) + "'>" + i + "</a></li>";
      }
    }

    if (nextButton == true) {
      pageHtml += "<li><a class='page-link' href='" + makeUrl(lastPage + 1) +  "' id='prev'> 다음 </a></li>";
    }

    $("#paging-ul").html(pageHtml);
  }

  function makeUrl(page) {
    let url = "/boards/report/list?page=" + page;
    return url;
  }

</script>
</body>
</html>