<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header.html :: head"/>

<body>
<div th:replace="fragments/header.html :: header"/>
<div class="container px-5">
    <div class="row gx-5 justify-content-center">
        <div class="col-lg-6 py-3">
            <div align="center">
                <h2>신고게시판</h2><br/>
            </div>
            <form class="form-group" th:object="${board}" id="board">
                <div>
                    <div class="img-box">
                        <img src="/assets/images/default.jpeg" alt="프로필 이미지" class="medium-img">
                    </div>
                    <h5 th:text="'작성자 : ' + ${board.nickname}"></h5>
                    <br/>
                </div>
                <br/>
                <div>
                    <h1>신고 대상 : [[${board.title}]]</h1>
                </div>
                <div>
                    <textarea rows="10" class="w-100" readonly>[[${board.content}]]
                    </textarea>
                </div>
                <button id = "download_file" style="display:none; max-width: 100%; max-height: 30px; overflow:hidden;" type="button" onclick="downloadURI()">Download</button>
                <div style="float: left" class="py-3">
                    <span th:text="'작성일 : ' + ${#temporals.format(board.createdAt, 'yyyy/MM/dd HH:mm:ss')}"></span>
                </div>
                <div align="right" class="py-1">
                    <th:block th:if="${board.userName == userName}">
                        <a class="btn btn1" th:href="@{/boards/report/{boardId}/update (boardId=${boardId})}">수정</a>
                        <button type="button" class="btn btn1" onclick="delete_board()">삭제</button>
                    </th:block>
                    <th:block sec:authorize="hasAuthority('ADMIN')" th:if="principal">
                        <form>
                            <select name="role" onchange="selectedRank(this)">
                                <option value="USER">유저</option>
                                <option value="BLACKLIST">블랙리스트</option>
                            </select>
                            <button class="btn btn1" type="button" onclick="changeRank()"> 등급수정</button>
                        </form>
                        <button class="btn btn1" onclick="delete_board()">거절</button>
                    </th:block>
                </div>
            </form>
        </div>
    </div>
</div>
</div>


<script th:inline="javascript">
    let Role = "USER";
    const selectedRank = (target) => {
        Role = target.value;
    }

    window.onload = function() {

        let filepath = [[${board.image}]];
        if (filepath != null) {
            let filename = filepath.substring(96);
            document.getElementById("download_file").style.display = 'block';
            $("#download_file").text(filename);
        }

    }

    function downloadURI() {

        var link = document.createElement("a");
        link.download = [[${board.image}]].split('-')[8];
        link.href = [[${board.image}]];
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
        delete link;

    }

    function changeRank() {
        let nickname = [[${board.title}]];
        let boardId = [[${board.id}]];
        let role = Role;

        $.ajax({
            method: 'POST',
            url: '/api/admin/rankchange',
            data: {
                "nickname" : nickname,
                "boardId" : boardId,
                "role" : role
            },
            success: function (d) {
                alert(d.nickname+"의 등급이 "+d.role+"로 변경되었습니다.")
                location.href="/boards/report/list";
            }

        })
    }

    function delete_board() {

        let boardId = [[${board.id}]];

        if (confirm("글을 삭제하시겠습니까?")) {
            $.ajax({
                url: '/api/boards/' + boardId ,
                type: "DELETE",
                success: function (message) {
                    alert(message.result);
                    location.href = "/boards/report/list";
                }
            });
        }
    }
</script>

</body>
</html>