<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: head"/>

<body>
<div th:replace="fragments/header.html :: header"/>
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6 py-5">
                <form class="form-group" th:object="${boardCreateRequest}" id="boardCreateRequest">
                    <br/>
                    <div>
                        <input type="text" placeholder="제목을 입력해주세요" th:field="*{title}">
                    </div>
                    <br/>
                    <div>
                        <textarea rows="10" class="w-100" placeholder="내용을 입력해주세요" th:field="*{content}"></textarea>
                    </div>
                    <br/>
                    <div class="input-group">
                        <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload" multiple="multiple">
                        <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">사진 추가</button>
                    </div>
                    <br/>
                    <div align="right" class="py-1">
                        <button type="button" class="btn btn1" onclick="write_board()">등록</button>
                    </div>
                    <br/>
                </form>
            </div>
        </div>
    </div>
<script th:inline="javascript">
    function write_board(){
        $.ajax({
            type:'POST',
            url:'/api/boards',
            data:$('#boardCreateRequest').serialize(),
            success: function (data){
                console.log(data); //응답 body부분 데이터
                location.href = '/boards/list';
            }
        });
    }
</script>
</body>
</html>