<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header.html :: head"/>

<body class="color-body">
<div class="container px-5">
  <div class="row gx-5 justify-content-center">
    <div class="col-lg-8 py-5">
      <form class="join-form form-group" th:object="${userJoinRequest}" id="userJoinRequest">
        <button onclick="location.href='/'" class="btn brand-btn" type="button">Air Planning</button>
        <br/><br/>
        <div align="center">
          <input th:field="*{userName}" type="text" class="w-75 login-input" placeholder="아이디"
                 oninput="check_userName()">
          <div style="margin-top: 5px" class="w-75">
            <div id="userName-pass" class="alert-pass" hidden>사용 가능한 아이디 입니다</div>
            <div id="userName-fail" class="alert-fail" hidden>아이디가 중복됩니다</div>
            <div id="userName-null" class="alert-fail" hidden>공백일 수 없습니다</div>
          </div>
        </div>
        <br/>
        <div align="center">
          <input th:field="*{password}" type="password" class="w-75 login-input" placeholder="비밀번호는 ~~로 사용해야 합니다">
        </div>
        <br/>
        <div align="center">
          <input id="password-check" type="password" class="w-75 login-input" placeholder="비밀번호 확인" oninput="check_pw()">
          <div style="margin-top: 5px" class="w-75">
            <div id="password-check-pass" class="alert-pass" hidden>비밀번호가 일치합니다</div>
            <div id="password-check-fail" class="alert-fail" hidden>비밀번호가 일치하지 않습니다</div>
          </div>
        </div>
        <br/>
        <div align="center">
          <input th:field="*{nickname}" type="text" class="w-75 login-input" placeholder="닉네임" oninput="check_nickname()">
          <div style="margin-top: 5px" class="w-75" align="center">
            <div id="nickname-pass" class="alert-pass" hidden>사용 가능한 닉네임 입니다</div>
            <div id="nickname-fail" class="alert-fail" hidden>닉네임이 중복됩니다</div>
            <div id="nickname-null" class="alert-fail" hidden>공백일 수 없습니다</div>
            <div id="nickname-long" class="alert-fail" hidden>닉네임은 최대 10글자입니다</div>
          </div>
        </div>
        <br/>
        <div align="center">
          <div class="w-75 d-flex">
            <input th:field="*{email}" type="text" class="join-input flex-fill" placeholder="email" oninput="check_email()">
            <button id="sendEmail-btn" type="button" class="btn send-btn" onclick="send_email()" disabled>인증번호 전송</button>
          </div>
          <div style="margin-top: 5px" class="w-75">
            <div id="email-pass" class="alert-pass" hidden>사용 가능한 이메일 입니다</div>
            <div id="email-fail" class="alert-fail" hidden>이메일이 중복됩니다.</div>
            <div id="email-null" class="alert-fail" hidden>공백일 수 없습니다</div>
            <div id="email-type" class="alert-fail" hidden>이메일 형식이 아닙니다</div>
          </div>
          <div id="check-email" style="margin-top: 20px" hidden>
            <input th:field="*{code}" type="text" class="join-input flex-fill" placeholder="인증번호">
            <button type="button" class="btn btn1" onclick="auth_email()">인증</button>
          </div>
          <div style="margin-top: 5px" class="w-75">
            <div id="email-check-pass" class="alert-pass" hidden>인증번호가 일치합니다</div>
            <div id="email-check-fail" class="alert-fail" hidden>인증번호가 일치하지 않습니다</div>
          </div>
        </div>
        <br/>
        <div>
          <button id="join-btn" type="button" class="btn btn1" onclick="join()" disabled>회원가입</button>
          <br/><br/>
          <div class="bottom-text">이미 계정이 있으신가요?&nbsp;&nbsp;<a href="/users/login">로그인</a></div>
        </div>
      </form>
    </div>
  </div>
</div>

<script th:inline="javascript" sec:authorize="isAuthenticated()">
  window.onload = function () {
    alert('이미 로그인 되어있습니다')
    location.href='/'
  }
</script>

<script th:inline="javascript">

  let userNamePass = false
  let passwordPass = false
  let nicknamePass = false
  let emailAuthPass = false

  function check_userName() {
    let userName = $("#userName").val();
    userNamePass = false
    join_btn_disable()

    if(userName == "") {
      show('userName-null')
      hide('userName-pass')
      hide('userName-fail')
      return
    }

    $.ajax({
      type: 'GET',
      url: '/api/users/check-username',
      data: {
        username: userName
      },
      success: function (duplicated) {
        console.log(duplicated)
        if (duplicated.result == true) {
          hide('userName-null')
          hide('userName-pass')
          show('userName-fail')
        } else {
          hide('userName-null')
          show('userName-pass')
          hide('userName-fail')
          userNamePass = true
          check_all()
        }
      }
    });
  }

  function check_nickname() {
    let nickname = $("#nickname").val();
    nicknamePass = false
    join_btn_disable()

    if(nickname == "") {
      show('nickname-null')
      hide('nickname-pass')
      hide('nickname-fail')
      hide('nickname-long')
      return
    }

    if (nickname.length > 10) {
      hide('nickname-null')
      hide('nickname-pass')
      hide('nickname-fail')
      show('nickname-long')
      return
    }

    $.ajax({
      type: 'GET',
      url: '/api/users/check-nickname',
      data: {
        nickname: nickname
      },
      success: function (duplicated) {
        if (duplicated.result == true) {
          hide('nickname-null')
          hide('nickname-pass')
          show('nickname-fail')
          hide('nickname-long')
        } else {
          hide('nickname-null')
          show('nickname-pass')
          hide('nickname-fail')
          hide('nickname-long')
          nicknamePass = true
          check_all()
        }
      }
    });
  }

  function check_email() {
    let email = $("#email").val();
    sendEmail_btn_disable()

    if(email == "") {
      show('email-null')
      hide('email-pass')
      hide('email-fail')
      hide('email-type')
      return
    } else if(!email.includes("@")) {
      hide('email-null')
      hide('email-pass')
      hide('email-fail')
      show('email-type')
      return
    }

    $.ajax({
      type: 'GET',
      url: '/api/users/check-email',
      data: {
        email: email
      },
      success: function (duplicated) {
        if (duplicated.result == true) {
          hide('email-null')
          hide('email-pass')
          show('email-fail')
          hide('email-type')
        } else {
          hide('email-null')
          show('email-pass')
          hide('email-fail')
          hide('email-type')
          document.getElementById("sendEmail-btn").removeAttribute("disabled")
        }
      }
    });
  }


  function send_email() {
    let email = $("#email").val();
    $.ajax({
      type: 'GET',
      url: '/api/users/send-auth-email',
      data: {
        email: email
      },
      success:function (message) {
        alert(message.result)
      }
    });

    document.getElementById("check-email").removeAttribute("hidden")
    document.getElementById("check-email").className = "w-75 d-flex"
  }

  function auth_email() {
    let code = $("#code").val();
    emailAuthPass = false
    join_btn_disable()

    $.ajax({
      type: 'GET',
      url: '/api/users/check-auth-email',
      data: {
        code: code
      },
      success:function (auth) {
        if (auth.result == true) {
          show('email-check-pass')
          hide('email-check-fail')
          emailAuthPass = true
          check_all()
        } else {
          hide('email-check-pass')
          show('email-check-fail')
        }
      }
    })
  }

  function check_pw() {
    passwordPass = false
    join_btn_disable()

    let pw = $("#password").val();
    let pw2 = $("#password-check").val();

    if(pw != '' && pw2 != ''){
      if(pw == pw2){
        show('password-check-pass')
        hide('password-check-fail')
        passwordPass = true
        check_all()
      }
      else{
        hide('password-check-pass')
        show('password-check-fail')
      }
    }
  }

  function show(id) {
    if(document.getElementById(id) != null) {
      document.getElementById(id).removeAttribute("hidden")
    }
  }
  function hide(id) {
    if(document.getElementById(id) != null) {
      document.getElementById(id).setAttribute("hidden", "true")
    }
  }
  function check_all() {
    if(userNamePass == true && passwordPass == true && nicknamePass == true && emailAuthPass == true) {
      document.getElementById('join-btn').removeAttribute("disabled")
    }
  }
  function join_btn_disable() {
    document.getElementById('join-btn').setAttribute("disabled", "true")
  }
  function sendEmail_btn_disable() {
    document.getElementById('sendEmail-btn').setAttribute("disabled", "true")
  }

  function join() {
    $.ajax({
      type: 'POST',
      url: '/api/users/join',
      data: $('#userJoinRequest').serialize(),
      success: function (message) {
        alert("회원가입 성공")
        location.href="/users/login"
      }
    });
  }

</script>
</body>
</html>