<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: head"/>
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" href="/css/login.css" />
</head>
    <body>
    <form th:method="post" class="login"> <!--th:action=""-->
        <!--로고 이미지를 로그인 글씨 대신 넣으면 될 거 같다.-->
      <h2>로그인</h2>

      <div class="id_text">
        <input type="text" name="id" class="id" placeholder="아이디" required>
      </div>

      <div class="password">
        <input type="password" name="pw" class="pw" placeholder="비밀번호" required>
      </div>
      <input type="checkbox" id="saveId" >아이디 저장<br>

      <input type="submit" class="login_btn" value="로그인">
      <input type="button" class="join_btn" value="회원가입">

      <div class="bottomText">
        <a href="" >아이디 찾기</a> | <a href= "" >비밀번호 찾기</a>
      </div>

    </form>
</body>
</html>