<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: head"/>

<body class="color-body">
<div class="container px-5">
  <div class="row gx-5 justify-content-center">
    <div class="col-lg-4 py-5">
      <form th:method="post" class="login-form form-group"> <!--th:action=""-->
        <h2 onclick="location.href='/'">로고이미지(홈으로)</h2>
        <br/><br/>
        <div>
          <input type="text" class="w-75 login-input" placeholder="아이디">
        </div>
        <br/>
        <div>
          <input type="password" class="w-75 login-input" placeholder="비밀번호">
        </div>
        <br/>
        <div>
          <input type="checkbox"> 아이디 저장<br>
        </div>
        <br/>
        <div>
          <button type="submit" class="btn btn1">로그인</button>
          <button type="button" class="btn btn1" onclick="location.href='/users/join'">회원가입</button>
        </div>
        <br/>
        <div class="bottom-text">
          <a href="/" >아이디 찾기</a> | <a href= "/" >비밀번호 찾기</a>
        </div>
        <hr/>
        <h5>소셜 로그인</h5>
        <button type="button" class="icon-btn" onclick="location.href='/'"><img src="/assets/images/kakao.png" class="login-img"></button>
        <button type="button" class="icon-btn" onclick="location.href='/'"><img src="/assets/images/naver.png" class="login-img"></button>
        <button type="button" class="icon-btn" onclick="location.href='/'"><img src="/assets/images/google.svg" class="login-img"></button>
      </form>
    </div>
  </div>
</div>
</body>
</html>