<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header.html :: head"/>

<body>
<div th:replace="fragments/header.html :: header"/>
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8 py-5">
                <h1>플래너 페이지</h1>
                <hr/>
                <div class="img-box">
                    <img th:src = "${planner.image}" alt="프로필 이미지" class="profile-img">
                </div>
                <div class="py-2">
                    <h3 class="profile-text">아이디 : [[${planner.nickname}]]</h3>
                    <h3 class="profile-text">자신있는 지역 : [[${planner.region}]]</h3>
                    <h3 class="profile-text d-flex">별점 : &nbsp;
                        <div class="star-ratings">
                            <div class="star-ratings-base space-x-2 text-lg">
                                <span>★★★★★</span>
                            </div>
                            <div class="star-ratings-fill space-x-2 text-lg" th:style="|width: ${planner.star * 20}%|">
                                <span>★★★★★</span>
                            </div>
                        </div>
                    </h3>
                    <h3 class="profile-text">
                        좋아요 : [[${planner.likeCnt}]]
                        <button th:if="${checkLike == false}" class="btn icon-btn" onclick="changeLike()" type="button" style="padding-top: 0px; margin-left: 10px;">
                            <img src="/assets/images/empty-hearts.svg" class="little-img">
                        </button>
                        <button th:if="${checkLike == true}" class="btn icon-btn" onclick="changeLike()" type="button" style="padding-top: 0px; margin-left: 10px;">
                            <img src="/assets/images/fill-hearts.svg" class="little-img">
                        </button>
                    </h3>
                </div>
                <br/>

                <div align="center">
                    <textarea rows="10" class="w-75" readonly>[[${planner.description}]]</textarea>
                </div>
                <br/>

                <div align="center">
                    <button class="btn btn1" style="margin-right: 30px">리뷰 보기</button>
                    <button class="btn btn1" sec:authorize="isAuthenticated()" th:onclick="'location.href=\'/plans/write/'+${planner.getId()}+'\''" style="margin-right: 30px">플랜 신청</button>
                    <button class="btn btn1" th:if="${isWriter==true}"th:onclick="'location.href=\'/planners/'+${planner.getId()}+'/edit\''" >정보 수정</button>
                </div>
                <br/>

                <!-- 로그인 체크, 로그인 유저 정보-->
                <div id="loginCheck" sec:authentication="principal" hidden/>

            </div>
        </div>
    </div>

<script th:inline="javascript">
    function changeLike() {
        if (document.getElementById("loginCheck").innerText == "anonymousUser") {
            if (confirm("로그인이 필요한 서비스입니다.\n" + "로그인 화면으로 이동하시겠습니까?")) {
                document.location = "/users/login"
            } else {
                return
            }
        }

        $.ajax({
            type: 'POST',
            url: '/planners/' + [[${planner.id}]] + '/like',
            success: function (message) {
                alert(message);
                location.reload();
            }
        });
    }
</script>

</body>
</html>