@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family:sans-serif;

}

body {
    background-color: #96d1cf;
}

.all {
    margin: auto;
    width: 500px;
    max-width:100%;
    padding:30px;
    background:#fff;
    border-radius:30px;
    box-sizing:border-box;
    margin-bottom: 20%;
}

.joinForm h2 {
    text-align: center;
    margin: 30px;
}

.textForm {
    border-bottom: 2px solid #adadad;
    margin: 20px;
    padding: 10px 10px;
}


.id {
    width: 100%;
    border:none;
    outline:none;
    color: #636e72;
    font-size:16px;
    height:25px;
    background: none;
}

.pw {
    width: 100%;
    border:none;
    outline:none;
    color: #636e72;
    font-size:16px;
    height:25px;
    background: none;
}

#alert-success{
    color:green;
    margin-left: 15px;
}
#alert-danger{
    color:red;
    margin-left: 15px;
}

.name {
    width: 100%;
    border:none;
    outline:none;
    color: #636e72;
    font-size:16px;
    height:25px;
    background: none;
}

.birth-text{
    width: 100%;
    border:none;
    outline:none;
    color: #636e72;
    font-size:16px;
    height:25px;
    background: none;
}

.email{
    outline:none;
    border:none;
    color: #636e72;
    font-size:16px;
    height:25px;
    background: none;
    padding: 5px;
    border-bottom: 2px solid #adadad;
    padding: 10px 10px;
    width: 300px;
    margin-left: 20px;

}

.compare-email{
    width: 390px;
    border:none;
    outline:none;
    color: #636e72;
    font-size:16px;
    height:25px;
    background: none;
    display: none;
    margin-left: 15px;
    border-bottom: 2px solid #adadad;
    margin: 20px;
    padding: 10px 10px;
}

.id_ok{
    display:none;
    margin-left: 15px;
}
.id_already{
    display: none;
    margin-left: 15px;
}

.compare-text{
    display: none;
    color:red;
    margin-left: 15px;
}

.emailBtn{
    border: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 35px;
    background-color: #ffbe33;
    color: #ffffff;
    border-radius: 45px;
    -webkit-transition: all 1s;
    transition: all 1s;
    border: none;
    cursor:pointer;
    text-align: center;
    float: right;
    position: static;
}

.compare-phone{
    width: 390px;
    border:none;
    outline:none;
    color: #636e72;
    font-size:16px;
    height:25px;
    background: none;
    display: none;
    margin-left: 15px;
    border-bottom: 2px solid #adadad;
    margin: 20px;
    padding: 10px 10px;
}

.phone {
    outline:none;
    border:none;
    color: #636e72;
    font-size:16px;
    height:25px;
    background: none;
    padding: 5px;
    border-bottom: 2px solid #adadad;
    padding: 10px 10px;
    width: 300px;
    margin-left: 20px;
    height: 40px;

}

.phoneBtn{
    border: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 35px;
    background-color: #ffbe33;
    color: #ffffff;
    border-radius: 45px;
    -webkit-transition: all 1s;
    transition: all 1s;
    border: none;
    cursor:pointer;
    text-align: center;
    float: right;
    position: static;
    margin-top: 15px;
}

.phone-text{
    display: none;
    color:red;
    margin-left: 15px;
}


.btn {
    border: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 35px;
    background-color: #ffbe33;
    color: #ffffff;
    border-radius: 45px;
    -webkit-transition: all 1s;
    transition: all 1s;
    border: none;
    cursor:pointer;
    text-align: center;
}

.sText{
    font-size: 9px;
    color: grey;
    text-align: left;
}

div > a{
    color: grey;
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}
div > a:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #96d1cf;
    height: 2px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
div > a:hover:before, div > a:focus:before, div > a:active:before {
    right: 0;
}
.loginBtn{
    margin: auto;
}

