<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>로그인 페이지</title>
</head>
<body>
<h1>로그인 페이지</h1>
<hr/>

<h2>로그인 유저 : </h2>
<p sec:authentication="principal"></p>

<div sec:authorize="isAnonymous()" style="background-color:pink; padding:1em;">
    <form action="/login" method="post" >
        <input type="text" name="userName" />
        <input type="password" name="password" />
        <button>로그인</button>
    </form>

    <form action="/api/emailcertification" method="post" >
        <input type="email" name="email">
        <button>이메일인증번호 보내기</button>
    </form>
    <form action="/api/emailcheck" method="post" >
        <input type="text" name="code">
        <button>이메일인증하기</button>
    </form>
    <form action="/api/find-id" method="post" >
        <input type="text" name="email">
        <button>아이디 찾기</button>
    </form>


    <a href="/oauth2/authorization/google">구글 로그인</a>
    <a href="/oauth2/authorization/naver">네이버 로그인</a>
    <a href="/oauth2/authorization/kakao">카카오 로그인</a>
    <br>
    <a href="/joinForm">회원가입하기</a><br>
</div>

<div sec:authorize="isAuthenticated()" style="background-color:pink; padding:1em;">
    <a href="/logout">로그아웃</a>
</div>

<br><br>
<a href="/user">유저</a><br>
<a href="/manager" sec:authorize="hasRole('ROLE_MANAGER') or hasRole('ROLE_ADMIN')">매니저</a><br>
<a href="/admin" sec:authorize="hasRole('ROLE_ADMIN')">어드민</a><br>

<br><br>
<a href="/form/loginInfo">Form 로그인 정보</a>

</body>
</html>