<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: head"/>

<body>
<div th:replace="fragments/header.html :: header"/>
<div class="container px-5">
  <div class="row gx-5 justify-content-center">
    <div class="col-lg-6 py-5">
      <div align="center">
        <h2>플랜 신청 게시판</h2><br/>
      </div>
      <form class="form-group" th:action="@{/plans/{planId}/update (planId=${planId})}" th:object="${planUpdateRequest}">
        <br/>
        <div>
          <input th:field="*{title}" type="text" placeholder="제목을 입력해주세요">
        </div>
        <br/>
        <div>
          <textarea th:field="*{content}" rows="10" class="w-100" placeholder="내용을 입력해주세요" style="resize: none;"></textarea>
        </div>

        <br/>
        <div align="center" class="py-1">
          <button type="button" class="btn btn1" onclick="update_plan()">수정</button>
        </div>
        <br/>
      </form>
    </div>
  </div>
</div>

<script>
  function update_plan() {
    let planId = [[${planId}]];

    let updateRequest = {
      title: $("#title").val(),
      content: $("#content").val(),
    };

    $.ajax({
      type: 'PUT',
      url: '/api/plans/' + planId,
      data: JSON.stringify(updateRequest),
      contentType: "application/json",
      success: function () {
        alert("글 수정을 완료했습니다.");
        location.href = "/plans/" + planId;
      }
    });
  }

</script>

</body>
</html>