<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: head"/>

<body>
<div th:replace="fragments/header.html :: header"/>
<div class="container px-5">
    <div class="row gx-5 justify-content-center">
        <div class="col-lg-6 py-5">
            <div align="center">
                <h2>플랜 신청 게시판</h2><br/>
            </div>
            <form class="form-group" th:object="${planCreateRequest}" id="planCreateRequest">
                <br/>
                <div>
                    <input th:field="*{plannerId}" th:value="*{plannerId}" hidden>
                    <input th:field="*{title}" type="text" placeholder="제목을 입력해주세요" style="width: 80%">
                </div>
                <br/>
                <div>
                    <textarea th:field="*{content}" rows="10" cols="80" class="w-100" placeholder="내용을 입력해주세요" style="resize: none; width: 80%;"></textarea>
                </div>

                <br/>
                <div align="center" class="py-1">
                    <button type="button" class="btn btn1" onclick="write_plan()">등록</button>
                </div>
                <br/>
            </form>
        </div>
    </div>
</div>

<script th:inline="javascript">
    function write_plan() {

        let requestData = {
            title : $("#title").val(),
            content : $("#content").val(),
            plannerId: [[${plannerId}]]
        };


        $.ajax({
            type: 'POST',
            url: '/api/plans',
            data: JSON.stringify(requestData),
            contentType: "application/json; charset=utf-8",
            success: function () {
                alert("플랜 신청서 작성이 완료되었습니다.");
                location.href = '/';
            }
        });
    }

</script>


</body>
</html>